@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Montserrat", Courier, monospace;
    background-color: #033860;
    color: white;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    margin-bottom: 1vw;
    color:#99ffd5
}

#cursor {
    position: absolute;
    font-size: 1vw;
    font-weight: lighter;
    transition: 0.5s ease-out;
    animation: vibrate 1s ease infinite alternate;
}

.body {
    animation-fill-mode: forwards;
}

* {
    margin: 0;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar {
    background-color: #01369c;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    pointer-events: none;
    max-width: 100vw;
    left: 0;
    right: 0;
    padding: 1.5vw;
    align-items: center;
    font-size: 1vw;
    justify-content: space-between;
}

.header {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar > * {
    pointer-events: auto;
}

.dlogo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 4vw;
    filter: drop-shadow(0px 0px 20px #ffffff) brightness(1);
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 4vw;
    filter: brightness(7);
}

.header-bt {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.header-bt:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-bt:hover:after {
    width: 100%;
    left: 0;
}

.header-bt-selected {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.header-bt-selected:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #99ffd5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-bt-selected:hover:after {
    width: 100%;
    left: 0;
}

.page-1 {
    Flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
    height: auto;
}

.normaltext {
    color: #ffffff;
}

.background {
    position: fixed;
    display: flex;
    flex-direction: row;
    animation: slideBg 10s infinite;
    z-index: -10;
}

.background-img {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.box {
    position: relative;
    right: 0;
}

.input {
    padding: 0.5vw;
    width: 4vw;
    height: 4vw;
    background: none;
    border: 0.2vw solid #fff;
    border-radius: 2.5vw;
    box-sizing: border-box;
    font-size: 1vw;
    color: #fff;
    outline: none;
    transition: 0.5s;
    font-family: "Comfortaa", Courier, monospace;
}

.box:hover input {
    width: 17.5vw;
    background: #3b3640;
    border-radius: 1vw;
}

.box i {
    position: absolute;
    top: 50%;
    right: 0.8vw;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: #fff;
    transition: 0.2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

.nav-button {
    color: #fff;
    text-decoration: none;
}

.nav-button-selected {
    color: #99ffd5;
    text-decoration: none;
}

.content {
    transition: transform 1s ease;
    position: relative;
}

.slide-up {
    animation: slideInFromBottom 0.2s ease 0s forwards;
}

.slide-down {
    animation: slideInFromBottom 0.2s ease 0s reverse;
}

.contact-section {
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-bar {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vw;
}

i {
    background-clip: text;
    font-size: 2vw;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    cursor: pointer;
    transition: transform 0.2s, color 0.2s, background-image 0.2s;
}

i:hover {
    transform: scale(1.1);
}

i:nth-child(1):hover {
    color: transparent;
    background-image: linear-gradient(
        45deg,
        rgba(249, 206, 52, 1) 0%,
        rgba(238, 42, 123, 1) 100%
    );
}

i:nth-child(2):hover {
    color: #25d366;
}

i:nth-child(3):hover {
    color: rgba(199, 22, 16, 1);
}

.hide {
    display: none !important;
}

.show {
    display: inline-block;
}

.scrollInBlocks{
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    margin: none;
    transition: transform 0.5s;
}

.block{
    width: 20vw;
    height: 100vh;
    position: absolute;
    display: inline-block;
    background-color: #00256a;
    margin-right: -4px;
    z-index: 999;
}

.block:nth-child(1){
    left: 0;
}
.block:nth-child(2){
    left: 20vw;
}
.block:nth-child(3){
    left: 40vw;
}
.block:nth-child(4){
    left: 60vw;
}
.block:nth-child(5){
    left: 80vw;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes slideBg {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-200vw);
    }
    75% {
        transform: translateX(-300vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes FlyIn {
    0% {
        opacity: 0;
        position: relative;
        bottom: 10vh;
    }
    100% {
        opacity: 1;
        position: relative;
        bottom: 0;
    }
}

@keyframes vibrate {
    0% {
        font-weight: 100;
    }
    100% {
        font-weight: 500;
    }
}



.tree{
    margin-top:45%;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}

.node {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.node > div{
    max-width: 400px;
    max-height: 200px;
    background-color: #9872e0;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    transition: 0.2s ease-in-out;
    width: 50vw;
    height: 25vh;
}

.node-layer-1 > div{
    background-color: #543e7c;
}

.node-layer-1 .node-0{
    margin-right: 5%;
}


/* Add more separation between nodes in layer 2 */
.node-layer-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px; /* Increase this value for more separation */
}

.node-layer-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px; /* Increase this value for more separation */
}

.node > div:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px rgba(130, 174, 218, 0.473));
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    bottom: 50px;
    z-index: 4;
    background-color: white;
    border: 10px white solid;
}

.node .expander{
    max-width: 90px;
    max-height: 40px;
    width: 10vw;
    height: 5vh;
    background-color: #ffffff;
    position: absolute;
    bottom: -2.5vh;
    border-radius: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.node .expander .arrow{
    max-width: 30px;
    max-height: 30px;
    width: 3vw;
    height: 3vw;
    rotate: 45deg;
    background-color: #3b3640;
    position: relative;
    bottom: 0.5vw;
}

.node .expander .arrow::before{
    content: "";
    max-width: 30px;
    max-height: 30px;
    width: 3vw;
    height: 3vw;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-5px, -5px);
}

.node .name{
    color: #ffffff;
    font-size: 150%;
    position: absolute;
    top: 55%;
}

.node .about{
    color: #ffffff;
    font-size: 100%;
    position: absolute;
    top: 75%;
}

.node > div::before{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #ffffff; /* Match background color to blend in */
    position: absolute;
    top: 40%;
}

.expander-3{
    width: 80%;
    background-color: #033860; /* Match background color to blend in */
    height: 2px;
    display: block;
    margin: 40px;
}

.expander-3::before{
    content: none;
    display: inline;
    background-color: #033860; /* Match background color to blend in */
    height: 20px;
    width: 2px;
}

.more-info {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease;
    background: #22232a;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    margin-top: 0.5em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    position: relative;
    z-index: 2;
}
.more-info.show {
    display: block;
    opacity: 1;
}

.arrow.open {
    rotate: 225deg;
    transition: rotate 0.2s;
}

/* Make links show pointer cursor on hover and when pressing */
a, a:visited, a:active, a:hover {
    cursor: pointer;
}