@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Comfortaa", Courier, monospace;
    background-color: #000;
    color: white;
    overflow-x: hidden;
}

* {
    margin: 0;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    pointer-events: none;
    width: 100vw;
    left: 0;
    padding: 1.5vw;
    align-items: center;
}

.navbar > * {
    pointer-events: auto;
}

.title {
    font-size: 2vw;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
    margin-right: 10vw;
}

.header {
    font-size: 1vw;
    margin: 0;
}

.header-bt {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 3vw;
}

.header-bt:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-bt:hover:after {
    width: 100%;
    left: 0;
}

.page-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
}

.background {
    position: fixed;
    display: flex;
    flex-direction: row;
    animation: slideBg 10s infinite;
    z-index: -10;
}

.background-img {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes slideBg {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-200vw);
    }
    75% {
        transform: translateX(-300vw);
    }
    100% {
        transform: translateX(0);
    }
}
