@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Comfortaa", Courier, monospace;
    background-color: #000;
    color: white;
    overflow-x: hidden;
}

* {
    margin: 0;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    pointer-events: none;
    max-width: 100vw;
    left: 0;
    right: 0;
    padding: 1.5vw;
    align-items: center;
    font-size: 1vw;
    justify-content: space-between;
}

.header {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar > * {
    pointer-events: auto;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 4vw;
}

.header-bt {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-top: 1.5vw;
}

.header-bt:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-bt:hover:after {
    width: 100%;
    left: 0;
}

.page-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
}

.background {
    position: fixed;
    display: flex;
    flex-direction: row;
    animation: slideBg 10s infinite;
    z-index: -10;
}

.background-img {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes slideBg {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-200vw);
    }
    75% {
        transform: translateX(-300vw);
    }
    100% {
        transform: translateX(0);
    }
}

.box {
    position: relative;
    right: 0;
}

.input {
    padding: 0.5vw;
    width: 4vw;
    height: 4vw;
    background: none;
    border: 0.2vw solid #fff;
    border-radius: 2.5vw;
    box-sizing: border-box;
    font-size: 1vw;
    color: #fff;
    outline: none;
    transition: 0.5s;
    font-family: "Comfortaa", Courier, monospace;
}
.box:hover input {
    width: 17.5vw;
    background: #3b3640;
    border-radius: 1vw;
}
.box i {
    position: absolute;
    top: 50%;
    right: 0.8vw;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: #fff;
    transition: 0.2s;
}
.box:hover i {
    opacity: 0;
    z-index: -1;
}
